<h1>{{title}}</h1>

<label>Enter Number 1:</label>&nbsp;&nbsp;&nbsp;
<input type="number" name="num1" id="num1" [(ngModel)]='num1' class="form-control">
<br/><br/>

<label>Enter Number 2:</label>&nbsp;&nbsp;&nbsp;
<input type="number" name="num2" id="num2" [(ngModel)]='num2' class="form-control">
<br/><br/>

<button (click)="Addition()">Addition</button>&nbsp;&nbsp;&nbsp;
<button (click)="Substraction()">Substraction</button>&nbsp;&nbsp;&nbsp;
<button (click)="Multiplication()">Multiplication</button>&nbsp;&nbsp;&nbsp;
<button (click)="Division()">Division</button>&nbsp;&nbsp;&nbsp;

<br/><br/>
<h2 *ngIf="check;else elseblock">
  {{output}}
</h2>
<ng-template #elseblock>
<h2 >
  {{output}}
</h2>
</ng-template>

