<div class="container-fluid">
<h1>{{title}}</h1>
<br/>

    <div class="form-group">
        <span id="success-msg" *ngIf="message!==''"  class="alert alert-success" >{{message}}</span>
    </div>

<br/>

<form [formGroup]="studentForm">
<div class="form-group">
    <label for="StudentName">
        Student Name
    </label>
    <input type="text" id="StudentName" name="StudentName" 
    placeholder="Enter Name" class="form-control" formControlName="studentName">
    <div class="text-danger" 
    *ngIf="studentForm.controls['studentName'].touched && 
    studentForm.controls['studentName'].invalid">
    <div *ngIf="studentForm.controls['studentName'].errors.required">
        * Student Name Required
    </div>
    <div *ngIf="studentForm.controls['studentName'].errors.minlength">
        * Student Name should be 3 characters minimum long
    </div>
</div>
</div>
<br/>

<div class="form-group">
    <label for="emailid">
        Email Id:
    </label>
    <input type="text" id="emailid" name="emailid" 
    placeholder="Enter Email Id" class="form-control" formControlName="emailid">
    
    <div class="text-danger" 
    *ngIf="studentForm.controls['emailid'].touched && 
    studentForm.controls['emailid'].invalid">
    <div *ngIf="studentForm.controls['emailid'].errors.required">
        * Email Id Required
    </div>
    <div *ngIf="studentForm.controls['emailid'].errors.email">
        * Invalid Email Id
    </div>
</div>
</div>



<input type="submit" id="submitBtn" [disabled]="studentForm.invalid" (click)="SubmitForm()" value="Register" class="btn btn-success">

</form>

</div>

